.slider {
	width: 650px;
	height: 125px;
	border: 1px solid #950ac6;
	border-radius: 3px;
	position: relative;
}

.slider > .slider__handle {
	width: 23px;
	height: 125px;
	left: 0;
	top: 0;
	position: absolute;
	background-color: #950ac6;
	cursor: pointer;
}
