* {
	font-family: 'Roboto', sans-serif;
}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	width: 100%;
}

.hidden {
	display: none!important;
}

.row {
	display: flex;
}
.col {
	flex: 50%;
}

.pull-right {
	display: block;
	text-align: right;
}

aside.logo {
	top: 50px;
	left: 50px;
	position: absolute;
	width: 22px;
	height: 22px;
}

aside.menu, aside.mobile-menu {
	top: 50px;
	right: 50px;
	position: absolute;
}
aside.menu > a, aside.mobile-menu > a {
	color: #fff;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	margin-left: 44px;
	display: inline-block;
}
aside.menu > a.menu__active {
	border-bottom: 1px solid #950ac6;
	padding-bottom: 4px;
}
aside.mobile-menu {
	display: none;
}
@media (max-width: 375px) {
	aside.menu {
		display: none;
	}

	aside.mobile-menu {
    display: block;
	}
}

aside.hamburger-menu {
	left: 0;
	top: 0;
	position: absolute;
	height: 100%;
	background-color: rgba(149, 10, 198, 1);
	width: 255px;
	padding-left: 60px;
	display: flex;
	flex-direction: column;
	padding-top: 90px;
	z-index: 9999;
}
aside.hamburger-menu > a.hamburger-menu__item {
	color: #fff;
	font-size: 20px;
	padding-bottom: 32px;
	text-decoration: none;
	display: block;
}

aside.social {
	bottom: 50px;
	left: 50px;
	position: absolute;
	width: 11px;
	height: 22px;
}

h1 {
	color: #fff;
	font-size: 72px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	line-height: 88px;
	text-align: center;
	text-transform: uppercase;
}
@media (max-width: 375px) {
	h1 {
		font-size: 36px;
		line-height: 44px;
	}
}

section.instructions {
	text-align: center;
}
section.instructions > button.instructions__start {
	background: none;
	color: #fff;
	font-size: 18px;
	line-height: 21px;
	background-color: rgba(149, 10, 198, 0.5);
	border: none;
	border-radius: 3px;
	padding: 16px 33px;
	outline: none;
	cursor: pointer;
}
section.instructions > button.instructions__start:hover {
	background-color: rgba(149, 10, 198, 1);
}
section.instructions > p.instructions__quote {
	font-size: 16px;
	line-height: 19px;
	color: #52495a;
}
@media (max-width: 375px) {
	section.instructions > button.instructions__start {
		width: 250px;
		height: 60px;
		font-size: 14px;
		line-height: 16px;
	}
}

div.page_manipulate {
	width: 100%;
}

div.page_faces {
	width: 100%;
}
section.search {
	width: unset;
	padding: 15px;
	display: flex;
	position: relative;
}
section.search > input.search__input {
	width: 100%;
	height: 48px;
	background: transparent;
	border: 1px solid #950ac6;
	border-radius: 3px;
	padding: 0 10px;
}
section.search > img.search__glass {
	position: absolute;
	right: 28px;
	top: 29px;
}

section.manifest {
	font-size: 16px;
	line-height: 19px;
	color: #52495a;
}
section.manifest.row {
	width: 580px;
}
section.manifest.row > aside.col {
	padding: 10px;
}
section.manifest p.manifest__author {
	color: #950ac6;
	float: right;
	top: 20px;
	position: relative;
}
@media (max-width: 375px) {
	div.page_manifest > h1 {
		font-size: 18px;
		line-height: 22px;
	}

	div.page_manifest {
		height: 100vh;
		top: 43px;
    position: relative;
	}

	div.page_faces > h1 {
		font-size: 18px;
		line-height: 22px;
	}

	div.page_faces {
		height: 100vh;
		top: 43px;
    position: relative;
	}

	.row {
		display: block;
	}

	.col {
		display: block;
		flex: unset;
	}

	section.manifest.row {
		width: unset;
		padding: 24px;
	}

	section.manifest.row > aside.col {
		padding: 0;
	}

	section.manifest.row > aside.col > p {
		font-size: 12px;
		line-height: 18px;
	}

	section.manifest p.manifest__author {
		float: none;
		text-align: center;
		width: 100%;
	}

	section.manifest p.manifest__author > span.pull-right {
		text-align: center;
	}

	section.manifest p.manifest__author > span.dash {
		text-align: center;
		display: block;
	}
}
