* {
	font-family: 'Roboto', sans-serif;
}

html, body {
	height: 100%;
	overflow: hidden;
}
@media (max-width: 375px) {
	html, body {
		overflow: auto;
	}
}

body {
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 375px) {
	body {
		background-image: url('../images/bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
}

main {
	width: 100%;
}

.hidden {
	display: none!important;
}

.row {
	display: flex;
}
.col {
	flex: 50%;
}

.pull-right {
	display: block;
	text-align: right;
}

button.button {
	background: none;
	color: #fff;
	font-size: 18px;
	line-height: 21px;
	background-color: rgba(149, 10, 198, 0.5);
	border: none;
	border-radius: 3px;
	padding: 16px 33px;
	outline: none;
	cursor: pointer;
	animation: button-highlight 2s infinite;
}
@keyframes button-highlight {
	0% {
		background-color: rgba(149, 10, 198, 0.5);
	}
	50% {
		background-color: rgba(149, 10, 198, 0.9);
	}
	100% {
		background-color: rgba(149, 10, 198, 0.5);
	}
}

input {
	height: 48px;
	background: transparent;
	border: 1px solid #950ac6;
	border-radius: 3px;
	padding: 0 10px;
	outline: none;
}

aside.logo {
	top: 50px;
	left: 50px;
	position: absolute;
	width: 22px;
	height: 22px;
	z-index: 9999;
}

aside.menu, aside.mobile-menu {
	top: 50px;
	right: 50px;
	position: absolute;
	z-index: 9999;
}
aside.menu > a, aside.mobile-menu > a {
	color: #fff;
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	margin-left: 44px;
	display: inline-block;
}
aside.menu > a.menu__active {
	border-bottom: 1px solid #950ac6;
	padding-bottom: 4px;
}
aside.mobile-menu {
	display: none;
}
@media (max-width: 375px) {
	aside.menu {
		display: none;
	}

	aside.mobile-menu {
    display: block;
	}
}

aside.hamburger-menu {
	left: 0;
	top: 0;
	position: absolute;
	height: 100%;
	background-color: #69008f;
	width: 255px;
	padding-left: 60px;
	display: flex;
	flex-direction: column;
	padding-top: 90px;
	z-index: 9999;
}
aside.hamburger-menu > a.hamburger-menu__item {
	color: #fff;
	font-size: 20px;
	padding-bottom: 32px;
	text-decoration: none;
	display: block;
}

aside.social {
	bottom: 50px;
	left: 50px;
	position: absolute;
	width: 11px;
	height: 22px;
}

h1 {
	color: #fff;
	font-size: 72px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	line-height: 88px;
	text-align: center;
	text-transform: uppercase;
}
@media (max-width: 375px) {
	h1 {
		font-size: 36px;
		line-height: 44px;
	}
}

section.login {
	width: unset;
	padding: 0 60px;
	display: flex;
	position: relative;
	flex-direction: column;
}
section.login > input.login__name {
	width: unset;
	margin-bottom: 32px;
	color: #fff;
}
section.login > button.login__start {
	width: 100%;
}
section.login > p.login__hint {
	color: #fcfcfc;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
}
section.login a.login_vk {
	margin: 0 auto;
}

section.record {
	width: unset;
	padding: 15px;
	display: flex;
}
section.record > button.record__start {
	height: 63px;
	border-radius: 2px;
	background-color: #1f1e1f;
	color: #fff;
	outline: none;
	flex: 50%;
	margin-right: 10px;
}
section.record > span.record__seconds {
	height: 61px;
	color: #fff;
	flex: 50%;
	display: flex;
	border: 1px solid #fff;
	border-radius: 3px;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}
section.record > span.record__hint {
	height: 61px;
	color: #52495a;
	flex: 50%;
	display: flex;
	border: 1px solid #fff;
	border-radius: 3px;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	font-size: 11px;
	line-height: 13px;
}

section.instructions {
	text-align: center;
}
section.instructions > button.instructions__start:hover {
	background-color: rgba(149, 10, 198, 1);
}
section.instructions > p.instructions__quote {
	font-size: 16px;
	line-height: 19px;
	color: #52495a;
}
@media (max-width: 375px) {
	section.instructions {
		display: flex;
    flex-direction: column-reverse;
	}

	section.instructions > button.instructions__start {
		width: 250px;
		height: 60px;
		font-size: 14px;
		line-height: 16px;
		margin: 0 auto;
	}
}

div.page_manipulate {
	width: 100%;
	text-align: center;
}

div.page_faces {
	width: 100%;
}
section.search {
	width: unset;
	padding: 15px;
	display: flex;
	position: relative;
}
section.search > input.search__input {
	width: 100%;
	color: #fff;
}
section.search > img.search__glass {
	position: absolute;
	right: 28px;
	top: 29px;
}

section.manifest {
	font-size: 16px;
	line-height: 19px;
	color: #52495a;
}
section.manifest.row {
	width: 580px;
	margin: 0 auto;
}
section.manifest.row > aside.col {
	padding: 10px;
}
section.manifest p.manifest__author {
	color: #950ac6;
	float: right;
	top: 20px;
	position: relative;
}

div.page_record > div.slider {
	height: 105px;
}
div.page_record > div.slider > div.slider__handle {
	height: 105px;
}
div.page_record > div.progress {
	width: unset;
	height: 4px;
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
}
div.page_record > div.progress > div.progress__state {
	width: 0;
	height: 4px;
	background-color: #950ac6;
}

div.page_login {
	max-width: 580px;
	margin: 0 auto;
}

@media (max-width: 375px) {
	div.page_index > h1 {
		font-size: 1.8em;
	}

	div.page_manifest > h1 {
		font-size: 18px;
		line-height: 22px;
	}

	div.page_manifest {
		position: absolute;
    top: 36px;
	}

	div.page_faces > h1 {
		font-size: 18px;
		line-height: 22px;
	}

	div.page_faces {
		position: absolute;
    top: 35px;
	}

	.row {
		display: block;
	}

	.col {
		display: block;
		flex: unset;
	}

	section.manifest.row {
		width: unset;
		padding: 24px;
	}

	section.manifest.row > aside.col {
		padding: 0;
	}

	section.manifest.row > aside.col > p {
		font-size: 12px;
		line-height: 18px;
	}

	section.manifest p.manifest__author {
		float: none;
		text-align: center;
		width: 100%;
		top: 0;
	}

	section.manifest p.manifest__author > span.pull-right {
		text-align: center;
	}

	section.manifest p.manifest__author > span.dash {
		text-align: center;
		display: block;
	}

	section.pictures {
		display: flex;
	}

	article.picture {
		width: 50%;
		padding: 10px;
	}

	article.picture > img {
		width: 100%;
		height: auto;
	}

	article.picture > div {
		clear: both;
    display: table;
    width: 100%;
	}

	article.picture span.picture__name {
		color: #dadada;
		float: left;
		max-width: 80%;
		text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	}

	article.picture img.picture__download {
		float: right;
	}
}
