.slider {
	width: 650px;
	height: 125px;
	border: 1px solid #950ac6;
	border-radius: 3px;
	position: relative;
}

.slider > .slider__handle {
	width: 0;
	height: 125px;
	left: 0;
	top: 0;
	border-right: 23px solid #950ac6;
	position: absolute;
	background-color: #2f2934;
	cursor: pointer;
}
